<div class="app app-header-fixed">
  <nz-header [ngClass]="{'active': isCollapsed}">
    <div class="logo animated fadeInLeft">
      <!-- <span class="icon logo-img">
      </span> -->
      <span class="campany-name animated fadeInLeft" [routerLink]="[ '/dashboard' ]">
        {{systemName}}
      </span>
    </div>
    <i class="trigger" nz-icon [type]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
      (click)="isCollapsed = !isCollapsed"></i>
    <a href="" target="_blank" class="home-link">前往首页</a>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <i nz-icon [nzType]="fullScreen?'shrink':'arrows-alt'" nzTheme="outline" (click)="fullScreen=!fullScreen"></i>
      </li>
      <li>
        <span class="msg" (click)="openMsg()">
          <nz-badge [nzCount]="0">
            <span class="head-example"><i nz-icon nzType="message" nzTheme="outline"></i></span>
          </nz-badge>
        </span>
      </li>
      <li>
        <nz-avatar [nzText]="text" nzSize="large" [ngStyle]="{ 'background-color': color }"
          style="vertical-align: middle;" (click)="userInfoActive = !userInfoActive">
        </nz-avatar>
        <div class="userInfo animated fadeInRight" *ngIf="userInfoActive"> 
          <ul>
            <li>超级管理员</li>
            <li>
              <a nz-popconfirm nzTitle="您确定退出吗?" (nzOnConfirm)="logout()" (nzOnCancel)="cancel()"
                nzPlacement="bottom">退出账号</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
      <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
        <li nz-submenu>
          <span title><i nz-icon type="book"></i><span class="nav-text">文章管理</span></span>
          <ul>
            <li nz-menu-item>
              <a [routerLink]="'/posts'" routerLinkActive="active">文章列表</a>
            </li>
            <li nz-menu-item>
              <a [routerLink]="'/categorys'" [queryParams]="{type:'article'}" routerLinkActive="active">文章分类</a>
            </li>
          </ul>
        </li>
        <li nz-submenu>
          <span title><i nz-icon type="setting"></i><span class="nav-text">网站设置</span></span>
          <ul>
            <li nz-menu-item>
              <a [routerLink]="'/menus'" routerLinkActive="active">导航管理</a>
            </li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-content style="margin:0 16px;">
        <nz-breadcrumb [nzAutoGenerate]="true" style="margin:1em 0;">
          <nz-breadcrumb-item>您所在的位置</nz-breadcrumb-item>
        </nz-breadcrumb>
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
      <nz-footer style="text-align: center;">©2019 litengdesign.com</nz-footer>
    </nz-layout>
    <ng-template #trigger>
      <i nz-icon type="up"></i>
    </ng-template>
  </nz-layout>
</div>
<!-- 消息列表 -->
<nz-drawer [nzClosable]="false" [nzOffsetX]="childrenVisible ? 180 : 0" [nzWidth]="320" [nzVisible]="visible"
  nzTitle="消息列表" (nzOnClose)="close()">
  <nz-list [nzDataSource]="vegetables" [nzRenderItem]="item">
    <ng-template #item let-item>
      <nz-list-item [nzContent]="item"></nz-list-item>
    </ng-template>
  </nz-list>
  <div class="footer">
    <button type="button" (click)="close()" class="ant-btn"><span>关闭</span></button>
  </div>
</nz-drawer>