<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" nzCollapsedWidth="50"
    class="lg-sider {{server.theme}}" nzTheme="{{server.theme}}">
    <div class="logo {{server.theme}}">
      <span class="icon logo-img">
      </span>
      <span class="campany-name animated fadeInLeft" [routerLink]="[ '/dashboard' ]" *ngIf="!isCollapsed">
        {{server.systemName}}
      </span>
    </div>
    <ul nz-menu nzTheme="{{server.theme}}" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu>
        <span title><i nz-icon type="book"></i><span class="nav-text">文章管理</span></span>
        <ul>
          <li nz-menu-item>
            <a [routerLink]="'/posts'" routerLinkActive="active">文章列表</a>
          </li>
          <li nz-menu-item>
            <a [routerLink]="'/categorys'" [queryParams]="{type:'article'}" routerLinkActive="active">文章分类</a>
          </li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i nz-icon type="setting"></i><span class="nav-text">网站设置</span></span>
        <ul>
          <li nz-menu-item>
            <a [routerLink]="'/menus'" routerLinkActive="active">导航管理</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header class="{{server.theme}}">
      <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"></i>
      <!-- sm show logo -->
      <div class="logo animated fadeInLeft visible-ms">
        <span class="icon logo-img">
        </span>
        <span class="campany-name animated fadeInLeft" [routerLink]="[ '/dashboard' ]">
          {{server.systemName}}
        </span>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="fullScreenIcon">
          <span class="icon-content" nzTitle="{{fullScreen?'退出全屏':'全屏'}}" nzPlacement="bottom" nz-tooltip>
            <i nz-icon [nzType]="fullScreen?'shrink':'arrows-alt'" nzTheme="outline" (click)="setFullScreen()"></i>
          </span>
        </li>
        <li>
          <a nz-dropdown class="icon-content" nz-popover nzTitle="" [nzContent]="skinContentTemplate"
            nzPlacement="bottomRight">
            <i nz-icon nzType="skin" nzTheme="outline"></i>
          </a>
          <ng-template #skinContentTemplate>
            <ul class="skin-list">
              <li (click)="server.theme='light'">
                <i class="icon icon-light"></i>
                <span>浅色</span>
                <i nz-icon nzType="check" nzTheme="outline" class="icon-check" style="color: #1890ff"
                  *ngIf="server.theme=='light'"></i>
              </li>
              <li (click)="server.theme='blue'">
                <i class="icon icon-blue"></i>
                <span>蓝色</span>
                <i nz-icon nzType="check" nzTheme="outline" class="icon-check" *ngIf="server.theme=='blue'"></i>
              </li>
            </ul>
          </ng-template>
        </li>
        <li style="padding: 0px 10px">
          <nz-avatar [nzText]="userName" nzSize="large" style="vertical-align: middle;" nz-popover nzTitle=""
            [nzContent]="contentTemplate" nzPlacement="bottomRight">
          </nz-avatar>
          <ng-template #contentTemplate>
            <a (click)="logout()">
              退出登录
            </a>
          </ng-template>
        </li>
      </ul>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer class="{server.theme}}">©2019 litengdesign.com<span class="pull-right">version:1.0</span></nz-footer>
  </nz-layout>
</nz-layout>
<!-- 主题设置 -->
<!-- <app-settings (sendSetting)='getSettings($event)'></app-settings> -->